= render 'navbar'
.flex.justify-center
  .border-solid.border-black.border-2.bg-yellow-lighter.w-64.text-center.h-full.m-4
    %h2.p-4 Sign up
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        = f.label :name
        %br/
        = f.text_field :name, autocomplete: "name"
      .field
        = f.label :address
        %br/
        = f.text_field :address, autocomplete: "address"
      .field
        = f.label :phone
        %br/
        = f.telephone_field :phone, autocomplete: "phone"
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        - if @minimum_password_length
          %em
            (#{@minimum_password_length} characters minimum)
        %br/
        = f.password_field :password, autocomplete: "new-password"
      .field
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "Sign up"
