%p= "This is #{@contactinfo['name']}"
%p We are a Family friendly restaurant where you cannot buy drinks of any kind
%p So if you want too drink, well to bad you can't
%p="Anyhow if you want to just eat here is our address: #{@contactinfo['address']}"
%p="And you can reach us at #{@contactinfo['email']} and #{@contactinfo['phone']}"
