- if user_signed_in?
    %p= "Hello, #{current_user.name}"
    %p= link_to 'Log out', destroy_user_session_path
- else
    %p.active= link_to 'Login', new_user_session_path
    %p= link_to 'Sign up', new_user_registration_path