- if user_signed_in?
    - if current_user.restaurant_owner?
        %p= "Hello, #{current_user.name}, you are the boss!"
    - else
        %p= "Hello, #{current_user.name}"
    %p= link_to 'Log out', destroy_user_session_path, method: :delete
- else
    %p= link_to 'Sign up', new_user_registration_path
    %p= link_to 'Log in', new_user_session_path
%p= link_to 'Add Dish', new_dish_path
- @dishes.each do |dish|
    %p= "Name: #{dish.name}"
    %p= "Description: #{dish.description}"
    %p= "Price: #{dish.price} SEK"
    %p= link_to 'Update Dish', edit_dish_path(dish)