= render 'login_logout'
.flex.justify-center.mt-8.mr-8.ml-8	
    .max-w-lg.rounded.overflow-hidden.shadow-lg.mr-8
        = image_tag 'moes_electricity.png', alt: 'Moes'
        .px-10.py-4
        .flex.justify-center.font-bold.text-xl.mb-2 Now with electricity!
        %p.flex.justify-center.text-grey-darker.text-base If you're into that sorta thing
    .max-w-lg.rounded.overflow-hidden.shadow-lg.mr-8
        = image_tag 'bartender.jpg', alt: 'Moes'
        .px-10.py-4
        .flex.justify-center.font-bold.text-xl.mb-2 Our beloved bartender...
        %p.flex.justify-center.text-grey-darker.text-base Moe
    .max-w-lg.rounded.overflow-hidden.shadow-lg
        = image_tag 'customers.jpg', alt: 'Moes'
        .px-10.py-4
        .flex.justify-center.font-bold.text-xl.mb-2 Meet the locals! 
        %p.flex.justify-center.text-grey-darker.text-base We now love tourists!

      
- @categories.each do |category|
    %p.m-5= category.name
    %div.flex{id: dom_id(category)}
        - category.dishes.each do |dish|
            .flex-col.m-5.border-solid.border-black.border-2.bg-yellow-lighter.p-4.rounded-full
                %p.ml-2= "Name: #{dish.name}"
                %p.ml-2= "Description: #{dish.description}"
                %p.ml-2= "Price: #{dish.price} SEK"
                = add_to_cart(dish, 1, "Add to cart")
                - if user_signed_in? 
                    - if current_user.restaurant_owner?
                        %p.ml-2= link_to 'Update Dish', edit_dish_path(dish)
                        %p.ml-2= link_to 'Delete Dish', dish_path(dish), method: :delete
