- if user_signed_in?
    - if current_user.restaurant_owner?
        %p= "Hello, #{current_user.name}, you are the boss!"
        %p= link_to 'Add Dish', new_dish_path
    - else
        %p= "Hello, #{current_user.name}"
    %p= link_to 'Log out', destroy_user_session_path, method: :delete
- else
    %p= link_to 'Sign up', new_user_registration_path
    %p= link_to 'Log in', new_user_session_path

- @categories.each do |category|
    %p= category.name
    %div{id: dom_id(category)}
        - category.dishes.each do |dish|
            %p= "Name: #{dish.name}"
            %p= "Description: #{dish.description}"
            %p= "Price: #{dish.price} SEK"
            - if user_signed_in?
                - if current_user.restaurant_owner?
                    %p= link_to 'Update Dish', edit_dish_path(dish)
                    %p= link_to 'Delete Dish', dish_path(dish), method: :delete

