- if user_signed_in?
    - if current_user.restaurant_owner?
        %p= "Hello, #{current_user.name}, you are the boss!"
    - else
        %p= "Hello, #{current_user.name}"
    %p= link_to 'Log out', destroy_user_session_path, method: :delete
    
- else
    %p= link_to 'Sign up', new_user_registration_path
    %p= link_to 'Log in', new_user_session_path
    
- @categories.each do |category|
    %p= category.name
    %div{id: dom_id(category)}
        - category.dishes.each do |dish|
            %div{id: dom_id(dish)}
                %p= dish.category.name
                %p= dish.name
                %p= dish.description
                %p= dish.price
                = add_to_cart(dish, 1, "Add to cart")

= shop_icon_quantity   

= link_to "Checkout", cartify.cart_path

