- if user_signed_in?
    %p= "Hello, #{current_user.name}"
- else
    %p= link_to 'Sign up', new_user_registration_path

- @dishes.each do |dish|
    %p= dish.name
    %p= dish.description
    %p= dish.price
    %p= dish.category.name

