.bg-yellow-light.h-24    
    .flex.justify-between
        =image_tag 'moes_logo_smaller.png',{class:'h-24'}
        - if user_signed_in?
            .flex
                - if current_user.restaurant_owner?
                    %div.flex.flex-col.text-right
                        %p= "Hello, #{current_user.name}, you are the boss!"
                        .flex.flex-row-reverse
                            %p.pr-4= link_to 'Add Dish', new_dish_path
                            %p.pr-8.pb-4= link_to 'Log out', destroy_user_session_path, method: :delete
                        = notice || alert
                - else
                    .flex-col.items-start
                        %p= "Hello, #{current_user.name}"
                        %p.pr-4= link_to 'Log out', destroy_user_session_path, method: :delete
                        = notice || alert
        - else
            .flex
                %p.pr-4= link_to 'Sign up', new_user_registration_path
                %p.pr-4= link_to 'Log in', new_user_session_path

= render 'login_logout'

- @categories.each do |category|
    %p.m-5= category.name
    %div.flex{id: dom_id(category)}
        - category.dishes.each do |dish|
            .flex-col.m-5.border-solid.border-black.border-2.bg-yellow-lighter.p-4.rounded-full
                %p.ml-2= "Name: #{dish.name}"
                %p.ml-2= "Description: #{dish.description}"
                %p.ml-2= "Price: #{dish.price} SEK"
                - if user_signed_in?
                    - if current_user.restaurant_owner?
                        %p.ml-2= link_to 'Update Dish', edit_dish_path(dish)
                        %p.ml-2= link_to 'Delete Dish', dish_path(dish), method: :delete
            %div{id: dom_id(dish)} 
                %p= "Name: #{dish.name}"
                %p= "Description: #{dish.description}"
                %p= "Price: #{dish.price} SEK"
                = add_to_cart(dish, 1, "Add to cart")
                - if user_signed_in?
                    - if current_user.restaurant_owner?
                        %p= link_to 'Update Dish', edit_dish_path(dish)
                        %p= link_to 'Delete Dish', dish_path(dish), method: :delete
= shop_icon_quantity 

= link_to "Proceed to checkout", cartify.cart_path